<!--div>
    <img src="assets/img/car3.png" width="50%" height="50%">
</div-->
<div class = "row">
  <div class="col">
      <div>
          <h1>FECHA: {{hoy}}</h1>
      </div>
      <hr>
      <h2>ESTADO DE PARQUEO</h2>

      <table align="center">
        <tr>
            <th>
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Vehículos Grandes</div>
                    <div class="card-body">
                        <h5 class="card-title">10</h5>
                    </div>
                </div>
            </th>
            <th>
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Automóviles</div>
                    <div class="card-body">
                        <h5 class="card-title">25</h5>
                    </div>
                </div>
            </th>
            <th><div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Motocicletas</div>
                    <div class="card-body">
                        <h5 class="card-title">5</h5>
                    </div>
                </div>
                </th>
                <th>
                    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                        <div class="card-header">Total Movilidades</div>
                        <div class="card-body">
                            <h5 class="card-title">100</h5>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                        <div class="card-header">Ocupados</div>
                        <div class="card-body">
                            <h5 class="card-title">40</h5>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                        <div class="card-header">Disponibles</div>
                        <div class="card-body">
                            <h5 class="card-title">10</h5>
                        </div>
                    </div>
                </th>
            </tr>
        </table>
    </div>
    <!--h1>*ngIf</h1>
    <hr>
    <div *ngIf = "mostrar" class="card text-white bg-primary mb-3" style="width: 100%">
        <div class="card-body">
            <h5 class="card-title">{{opciones.opcion}}</h5>
            <p class="card-text"></p>
        </div>
    </div>
    <button (click)= "mostrar = !mostrar" class ="btn btn-outline-primary btn-block">
        Mostrar/Ocultar
    </button>

  </div>
  <div class = "col">
    <h1>*ngFor</h1>
    <hr>
    <ul class="list-group">
        <li *ngFor ="let placa of placas let i = index" class="list-group-item">
            {{i+1}} - {{placa}}
        </li>
       
      </ul>
  </div-->
 
</div>


