<div class="container">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <a class="navbar-brand text-white" href="#">XPARK</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link text-white" href="#" [routerLink]="['/']" [routerLinkActive]="['activado']">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#" [routerLink]="['/eventuales']" [routerLinkActive]="['activado']">Eventuales</a>
            </li>
            <li class="nav-item">
               
              <a class="nav-link text-white" href="#" [routerLink]="['/park_mensuales']" [routerLinkActive]="['activado']">Mensuales</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#" [routerLink]="['/park_administracion']" [routerLinkActive]="['activado']">Administracion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#" [routerLink]="['/park_reporte_diario']" [routerLinkActive]="['activado']">Reporte Diario</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#" [routerLink]="['/park_mini_reporte_diario']" [routerLinkActive]="['activado']">Mini Reporte Diario</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#" [routerLink]="['/park_mini_reporte_diario_totalizado']" [routerLinkActive]="['activado']">Mini Reporte Diario Totalizado</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>